.buttoncontainer{
  display: flexbox;
}
.button{
  width: 50px;
  background-color: rgb(96, 226, 15);
  margin: 3px;
  margin-top: 4px;
   border-radius: 10px;
}
.buttonnums{
  width: 50px;
  background-color: royalblue;
  margin: 3px;
  border-radius: 10px;
}
.buttonnums:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.buttoncalc{
  width: 50px;
  background-color:rgb(234, 6, 238) ;
  margin: 3px;
  border-radius:10px ;
}
.buttoncalc:hover{
  box-shadow: 2px 2px 2px 2px rgba(168, 228, 4, 0.2);
}