.input{
  margin-left: auto;
  margin-right:auto ;
  margin-top: 8px;
  display: block;
  border-radius: 5px;
  height: 5vh;
  border: 2px rgb(67, 64, 64) solid;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;

}